body{
  font-family:'Poppins',Arial, serif;
  font-size: 16px;
  line-height: 1.8;
  font-weight: normal;
  background: #fafafa;
  color: lighten(#000,40%);
}
code{
  font-family: source-code-pro,Menlo,Monaco,consolas,"Courier New";
}